<!DOCTYPE html>
<html ng-app="angtest">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Test app</title>
  </head>
  <body ng-controller="TestController">

    <span>{{ name }}</span>

    <script src="bower_components/angular/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/services/test.js" type="text/javascript" charset="utf-8"></script>
    <script src="app/controllers/test.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
